@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Sofia+Sans+Extra+Condensed:wght@100&display=swap");

.App {
  font-family: "Noto Sans KR", sans-serif;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #000;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  cursor: default;
}

a:hover {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h4 {
  margin-bottom: 0;
  margin-top: 42px;
}

h3 > span {
  font-size: 18px;
  font-weight: normal;
}

h4 > span {
  font-size: 16px;
  font-weight: normal;
}

#normal_hr {
  height: 0.25px;
  background-color: #2c2c2c;
  border: 0;
}

/* CRT EFFECT */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 4;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 4;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

.crt.none {
  animation: none;
}

.crt.none::after {
  animation: none;
  background: none;
}

.crt.none::before {
  animation: none;
  background: none;
}
/* CRT EFFECT END */

.startLineList {
  background: #c4c4c4;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.startLineList.active {
  font-weight: bold;
  background: gainsboro;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.startContent-ul {
  width: 100%;
  margin: 0;
  padding: 0 0 0 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.startContent-ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 50px;
  padding: 0 1px 0 7px;
}

#underCons-li:hover {
  background: none;
}

#underCons-li span {
  cursor: auto;
}

#program_div {
  z-index: 2;
}

#program_active {
  z-index: 3;
}

.startContent-ul li:hover {
  background: darkblue;
  color: white;
}

.startContent-ul img {
  margin-right: 10px;
}

.startContent-ul hr {
  width: 100%;
  height: 1px;
  border-radius: 5px;
}

.startContent-arrow {
  margin-left: auto;
  font-size: 12px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

.StartDetails-ul,
.StartDeepDetail-ul {
  width: 100%;
}

.StartDetails-ul li,
.StartDeepDetail-ul li {
  position: relative;
  display: flex;
  color: #2c2c2c;
  align-items: center;
  font-size: 13px;
  height: 25px;
  padding: 0 1px;
}

.StartDeepDetail-ul li:hover a {
  color: #fff;
  cursor: pointer;
}

.StartDetails-ul img {
  margin-right: 0;
}

.startDetail-arrow {
  margin-left: auto;
  font-size: 5px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

.underConstruction {
  margin-left: 10px;
  color: #707070;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
}

.wallpaper_ul .wallpaper_selected {
  background: darkblue;
  color: #fff;
}

.icon-line {
  width: 50px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.icon {
  max-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon span {
  font-size: 14px;

  padding: 0 3px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(0, 0, 0, 0.4),
    -1px 1px 2px rgba(0, 0, 0, 0.4), 1px -1px 2px rgba(0, 0, 0, 0.4);
}

.iconName_selected {
  background: rgba(0, 0, 132, 0.8);
}

.windowsMenu {
  display: flex;
  flex-direction: column;
}

.windows_menu {
  width: 100%;
  padding: 2px 0;
}

.windows_menu li {
  font-weight: normal;
  font-size: 14px;
  padding: 0 5px;
  border: 1px solid transparent;
}

.windows_menu li:hover {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.menu_selected {
  background: rgba(0, 0, 132, 0.8);
  color: #fff;
}

.windows_menu .menu_selected:hover {
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}

.windowsMenu hr {
  width: 100%;
  height: 1px;
  border-radius: 5px;
  margin: 0;
}

.document_select {
  padding: 2px 0;
  margin: 0;
}

.document_select p {
  width: 6%;
  font-weight: normal;
  font-size: 14px;
  padding: 0 5px 5px 5px;
  margin: 0;
}

.document_select select {
  width: 94%;
  margin: 1px;
  padding: 0 0 0 25px;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  background-image: url(images/github-mark.png);
  background-size: 17px;
  background-position: 5px;
}

.document_content div {
  padding: 15px 0;
}

.document_content h3 {
  font-size: 27px;
}

.document_content h4 {
  font-size: 21px;
}

.document_content p {
  font-size: 16px;
}

.document_projects p {
  margin: 6px;
}

.Notepad_ul li {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.Notepad_ul li:hover {
  background: rgba(0, 0, 132, 0.8);
  color: #fff;
}

.Notepad {
  position: absolute;
  margin: 0 auto;
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: width, height 0.5s ease-in-out;
}

.Notepad.maximized {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.shutdown_content,
.shutdown_content label {
  font-size: 12px;
}

.shutdown_button button {
  width: 100px;
  height: 25px;
  font-size: 12px;
  box-sizing: border-box;
  /* border: 2px solid transparent; */
}

/* .shutdown_button button:clicked {
  border: 0;
  height: 25px;
} */

.shutdown_page {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  color: lightsalmon;
  font-weight: 300;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  animation: fadein 2s ease 3s;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
